{% extends 'base.html.twig' %}

{% block title %}Panier - {{ textProductCount }}{% endblock %}

{% block body %}

    <div class="mt-32">

        {% if userCartProducts is empty %}
            <p>Votre panier est vide <a href="{{ path('app_products') }}" class="font-small text-blue-900 underline hover:no-underline">voir les produits</a></p>
        {% else %}
            <div class="grid gap-8 md:grid-cols-2">
                {# display cart product in the cart of the user #}
                <div>
                    <h3 class="text-3xl font-bold"><span class="underline underline-offset-4 decoration-8 decoration-green-500">Mon panier {{ textProductCount }}</span></h3>
                    <div class="grid gap-8 md:grid-cols-1 overflow-auto h-96 mt-8">
                        {% for userCartProduct in userCartProducts %}
                            <div class="block w-full h-32 rounded-lg shadow-lgborder-solid border-2 border-black">
                                <div class="flex flex-row gap-8">
                                    <div class="">
                                        <img class="rounded-l-lg w-48" src="https://place-hold.it/200x130" alt="{{ userCartProduct.idxProduct.proDescription }}" />
                                    </div>
                                    <div class="mt-2">
                                        <h5 class="text-xl font-medium leading-tight text-neutral-800">{{ userCartProduct.idxProduct.proName }}</h5>
                                        <h5 class="font-medium leading-tight text-neutral-800">CHF {{ userCartProduct.idxProduct.proPrice|number_format(2, '.', ',') }}</h5>
                                        <a href="{{ path('app_user_delete_product', {'id': userCartProduct.idxProduct.id}) }}">
                                            <div class="flex items-center gap-1">
                                                <p class="text-slate-400">supprimer</p>
                                            </div>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-8">
                        {# command infos #}
                        <div class="flex items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            Condition de commande :
                            {# <br> 2 litres de lait <br> Ou deux boites de 6 oeufs <br> Ou 1 boite d'oeufs avec 1 litre de lait #}
                        </div>
                    </div>
                </div>

                <div>
                    {{ form_start(formOrder) }}
                        {# display the total cost of the cart #}
                        <h3 class="text-3xl font-bold">Total</h3>
                        <br>
                        <div class="flex justify-between">
                            <p class="text-2xl font-normal text-gray-500 lg:text-xl">Sous-total</p>
                            <p class="text-2xl font-normal text-gray-500 lg:text-xl">{{ totalPrice|number_format(2, '.', ',')  }}</p>
                        </div>
                        <br>
                        <h3 class="text-3xl font-bold">Détails livraison</h3>
                        <br>
                        
                        {# chose the address of the command #}
                        {% for message in app.flashes('success') %}
                            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="grid gap-4 md:grid-cols-11">
                            <div class="col-span-9">
                                {{ form_row(formOrder.idxAddress, {'label': false, 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
                            </div>

                            {# add an address #}
                            <a href="{{ path('add_address') }}" class="w-10 h-10 border border-black rounded-full text-sm p-2.5 text-center inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                </svg>
                            </a>

                            {# delete an address #}
                            <button type="button" class="w-10 h-10 border border-black rounded-full text-sm p-2.5 text-center inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </button>                           
                        </div>
                        <br><br>                              

                        {# chose the day of the delivery #}
                        <div>
                            <h3 class="text-2xl font-semibold">Date de livraison souhaité :</h3>
                            <br>
                            <div class="grid gap-8 md:grid-cols-2">

                                {{ form_row(formOrder.ordDate, {'label': false, 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 datepicker-input'}}) }}
                                {{ form_row(formOrder.idxTime, {'label': false, 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}

                            </div>
                            <br>
                            <button type="submit" class="text-black bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2">
                                <svg aria-hidden="true" class="w-5 h-5 mr-2 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
                                Commander
                            </button>
                        </div>
                    {{ form_end(formOrder) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}