{% extends 'base.html.twig' %}

{% block title %}Cretegny - Inscription{% endblock %}

{% block body %}


    <div class="mx-32 mt-24">

        <h2 class="text-4xl font-bold"><span class="underline underline-offset-4 decoration-8 decoration-green-400">Inscription :</span></h2><br>
        {{ form_start(form) }}
    
            {# firsname / lastname #}
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                {{ form_row(form.useFirstName, {'label': 'Prénom : ', 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'} ,'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
                {{ form_row(form.useLastName, {'label': 'Nom : ', 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'},'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'} }) }}
            </div>

            {# Email address #}
            <div class="grid gap-6 mb-6 md:grid-cols-1">
                {{ form_row(form.email, {'label': 'Adresse Email : ', 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'} ,'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
                {# {{ form_row(form.useNumberPhone, {'label': 'Numéro de téléphone : ', 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'} ,'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }} #}
            </div> 
            
            {# password #}
            <div class="mb-6">
                {{ form_row(form.password, {'label': 'Mot de passe : ', 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'} ,'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
            </div>
            <div class="mb-6">
                {{ form_row(form.password_confirm, {'label': 'Confirmation du mot de passe : ', 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'} ,'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'}}) }}
            </div> 

            {# Terms of use #}
            <div class="flex items-center">
                <input id="link-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                <label for="link-checkbox" class="ml-2 text-sm font-medium text-gray-900">J'accepte les <a href="#" class="text-blue-600">conditions d'utilisation</a>.</label>
            </div>
            <br>

            <button type="submit" class="text-black bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Inscription</button>
            <a href="{{ path('app_login')}}" class="font-medium text-black underline underline-offset-4 decoration-4 decoration-green-400">Connexion</a>
        {{ form_end(form) }}

    </div>


{% endblock %}
     