<div class="mt-32">
    {# listing orders of selected day #}
    <div class="row-span-3">
        <h3 class="text-4xl font-semibold mb-10">Commandes du : {{ europeanFormat }} | {{ sliceName }}</h3>
        <div class="grid gap-8 md:grid-cols-1 overflow-auto h-96 mt-10">
            {% for orderId, data in productsAndAddresses %}
                <div class="block w-full h-48 rounded-lg shadow-lg border-solid border-2 border-black">
                    <div class="flex flex-row gap-8">
                        <p class="font-medium leading-tight text-neutral-800">{{ data['address'] }}</p>
                        <h5 class="text-xl font-medium leading-tight text-neutral-800">Produits :</h5>
                        {% for productName, productCount in data['productsCount'] %}
                            <p class="text-base text-neutral-600">{{ productCount }}x : {{ productName }}</p>
                        {% endfor %}
                    </div>
                </div>
                <p>---------------------------------------------------------------------------------</p>
            {% endfor %}
        </div>
    </div>
</div>
